.dark-mode {
    color: white;
    background-color: black;
}

.dark-mode footer{
    background-color: #101010 ;
}

.dark-mode header{
    background-color: #101010 ;

}

.dark-mode a{
    background-color: #101010 ;
    
}

.dark-mode ul li a {
    color: white;
}

.dark-mode #btn-dm{
    color: black;
    background-color: white;
}

