* {
    margin: 0;
    padding: 0;
    border: none;
    
    box-sizing: border-box;
    font-family: 'eurostile', sans-serif;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
    font-size: 20px;
}


div img {
    display: block;
    width: 100%;
}

a {
    color: black;
    text-decoration: none;
}

header {
    background-color: #D4D5DA;
    display: flex;
    align-items: center;
    height: 116px;
}

.flex-container {
    display: flex;
    max-width: 990px;
    margin: auto;
    width: 100%;
    min-width: 320px;

}

.conteudo-corpo {
    margin: 0px 0px 80px 0px;
    padding: 0px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}


.conteudo {
    margin: 20px 0px 0px 0px;
    display: flex;

}

.conteudo-texto {
    margin: 0px 10px 0px 10px;
}

.content-img {
    max-width: 40%;
}

.conteudo-corpo a {
    text-decoration: none;
    color: black;
}

.conteudo-corpo a:hover{
    color: white;
    background-color: black;
}

header .menu-lista {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 500px;
}

header .menu {
    justify-content: space-between;
}

footer {
    display: flex;
    width: 100%;
    position: fixed;
    bottom: 0;
    background-color: #D4D5DA;
    height: 70px;
}

.footer {
    align-items: center;
    justify-content: space-between;
}

footer #btn-dm {
    border-radius: 80px;
    background-color: black;
    color: white;
    height: 50px;
    display: block;
    width: 100px;
    text-align: center;
    line-height: 50px;
}